@charset "utf-8";
#cha_wrap{width:100%; height:100vh;background:url("../img/rabg.jpg") no-repeat right/cover; overflow:hidden;}


/* 원형 회전효과 */
@keyframes rotate{100%{transform:rotate(360deg);}}

/* 팝업 효과 */
@keyframes pop {
    0% {transform: translateY(120%) translateX(120%);
        opacity: 0;}
    100% {
        transform: translateY(-50%) translateX(-50%);
        opacity: 1;}}
  
        
.char1{transform:rotate(8.8deg);}
.char2{transform:rotate(17.6deg);}
.char3{transform:rotate(26.4deg);} 
.char4{transform:rotate(35.2deg);}
.char5{transform:rotate(44deg);}
.char6{transform:rotate(52.8deg);}
.char7{transform:rotate(61.6deg);}
.char8{transform:rotate(70.4deg);}
.char9{transform:rotate(79.2deg);}
.char10{transform: rotate(88deg);}
.char11{transform: rotate(96.8deg);}
.char12{transform: rotate(105.6deg);}
.char13{transform: rotate(114.4deg);}
.char14{transform: rotate(123.2deg);}
.char15{transform: rotate(132deg);}
.char16{transform: rotate(140.8deg);}
.char17{transform: rotate(149.6deg);}
.char18{transform: rotate(158.4deg);}
.char19{transform: rotate(167.2deg);}
.char20{transform: rotate(176deg);}
.char21{transform: rotate(184.8deg);}
.char22{transform: rotate(193.6deg);}
.char23{transform: rotate(202.4deg);}
.char24{transform: rotate(211.2deg);}
.char25{transform: rotate(220deg);}
.char26{transform: rotate(228.8deg);}
.char27{transform: rotate(237.6deg);}
.char28{transform: rotate(246.4deg);}
.char29{transform: rotate(255.2deg);}
.char30{transform: rotate(264deg);}
.char31{transform: rotate(272.8deg);}
.char32{transform: rotate(281.6deg);}
.char33{transform: rotate(290.4deg);}
.char34{transform: rotate(299.2deg);}
.char35{transform: rotate(308deg);}
.char36{transform: rotate(316.8deg);}
.char37{transform: rotate(325.6deg);}
.char38{transform: rotate(334.4deg);}
.char39{transform: rotate(343.2deg);}
.char40{transform: rotate(352deg);}
.char41{transform: rotate(360deg);}
 



/* 모바일 사이즈------------------------ */
@media screen and (max-width:430px) {

.head{width:100vw; height:100vh; padding:25% 0 0 5%;background:linear-gradient(to right,rgba(0,0,0,0.7),rgba(255,255,255,0.001));} 
.head>h2{text-align:center;padding:6% 0;}
.head>h2 img{width:250px;}
.head>.headbtn{position:relative;width:100%;}
.headbtn>p{font-weight:400;line-height:2rem;font-size:1.5vh;margin:0 10%;color:#fff;}
.headbtn>.lt{position:absolute;top:50%;left:2%;font-family: 'Gugi', cursive;float:left; font-size:1.5rem;background:rgba(0,0,0,0.2);color:#fff;;transition:all 0.2s; display:block;}
.headbtn>.gt{position:absolute;top:50%;left:95%;}
.headbtn>.lt:hover{border-radius:50%;background:rgba(255,255,255,0.7);
    color:#333;cursor:pointer;border-radius:50%;padding:1%;}

.floor{width:60vw; height:60vw;margin:-20% auto 0;position:relative;animation:rotate 30s linear infinite; transform-origin:50% 50%;}
.floor>.circle1{position:relative;border-radius:50%;width:100%;height:100%;border:2px solid rgba(18, 31, 31, 0.1);}
.floor>.circle1 li {width: 70%;}
.cha_img{width:40%;}
.circle1>li:nth-of-type(1){position:absolute;top:-25%; left:40%;transform:rotate(0deg)}
.circle1>li:nth-of-type(2){position:absolute;top:25%; left:85%; transform:rotate(60deg)}
.circle1>li:nth-of-type(3){position:absolute;top:75%; left:60%;transform:rotate(120deg)}
.circle1>li:nth-of-type(4){position:absolute;bottom:-25%; right:30%;transform:rotate(180deg)}
.circle1>li:nth-of-type(5){position:absolute;top:45%; left:-48%;transform:rotate(240deg)}
.circle1>li:nth-of-type(6){position:absolute;top:-15%; left:-25% ;transform:rotate(300deg)}


.badge{position:absolute;width:100px;border-radius:50%;transform:rotate(-50deg);top:38%;right:68%;}
.badge>h1 span{height:24vw;position:absolute;width:20px;right:0;top:0;transform-origin:bottom center;color:#c7d6db;font:13px 'gugi', cursive;}
.badge>h1 span:nth-of-type(3n){color:#fff;}
.badge>h1 span:nth-of-type(3n+1){color:#c7d6db;}


.pop_up{overflow:hidden;width:100vw;height:100vh;position:fixed;top:0;left:0;background-color:rgba(0,0,0,0.5);display:none;}
.pop_up >.pop{position:absolute;top:50%;left:50%;width:70vw;height:50vh;transform:translate(-50%,-50%);background-color:#c7d6db;border-radius:5%; display:none;;overflow:hidden;flex-direction:column;justify-content:space-around;
    animation: pop 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.pop>.close{font-size:1vh;padding:1%;font-family:TheJamsil;background-color:#fff;font-weight:500;align-self:flex-end;margin:1% 5% -5%;}
.pop>img{width:70%;height:50%;border-radius:4%;align-self:center;object-fit:cover;}
.pop>h3{font-size:3vh;text-align:center;font-family:TheJamsil;}
.pop>p{font-size:12px; font-family:TheJamsil;margin:0 10%;}
.pop>.btnwrap{display:flex;flex-flow:row nowrap;justify-content:space-around;}
.btnwrap>.btn{width:20vw;height:4vh;line-height:4vh;background-color:#fff;border-radius:10px;text-align:center;font-weight:600;font-size:0.8vh;font-family:TheJamsil;box-shadow:0px 10px 10px -8px rgba(0,0,0,0.5)}
.btnwrap>.btn a{color:#333;}
.btnwrap>.btn a:hover{color:#c7d6db;}
.pop>.close:hover{cursor:pointer;color:#c7d6db;}
}


/* 작은 사이즈----------------------------------- */
@media screen and (min-width:431px) and (max-width:799px){

    .head{width:90vw; height:100vh; padding:10% 0 0 20%;
    background:linear-gradient(to right,rgba(0,0,0,0.7),rgba(255,255,255,0.001));}
    .head>h2{text-align:center;padding:6% 0;}
    .head>h2 img{width:300px;}
    .head>.headbtn{position:relative;width:100%;}
    .headbtn>p{font-weight:400;line-height:2rem;font-size:1rem;margin:0 10%;color:#fff;}
    .headbtn>.lt{position:absolute;top:50%;left:2%;font-family: 'Gugi', cursive;float:left; font-size:1.5rem;background:rgba(0,0,0,0.2);color:#fff;;transition:all 0.2s; display:block;}
    .headbtn>.gt{position:absolute;top:50%;left:95%;}
    .headbtn>.lt:hover{border-radius:50%;background:rgba(255,255,255,0.7);
        color:#333;cursor:pointer;border-radius:50%;padding:1%;}
    
    
    .floor{width:400px; height:400px;margin:-20% 0 0 25%;position:relative;animation:rotate 40s linear infinite; transform-origin:50% 50%;}
    .floor>.circle1{position:relative;border-radius:50%;width:100%;height:100%;border:2px solid rgba(18, 31, 31, 0.1);}
    .cha_img{width:40%;}
    .circle1>li:nth-of-type(1){position:absolute;top:-15%; left:40%;transform:rotate(0deg)}
    .circle1>li:nth-of-type(2){position:absolute;top:23%; right:-32%;transform:rotate(60deg)}
    .circle1>li:nth-of-type(3){position:absolute;top:75%; right:-18%;transform:rotate(120deg)}
    .circle1>li:nth-of-type(4){position:absolute;bottom:-18%; right:38%;transform:rotate(180deg)}
    .circle1>li:nth-of-type(5){position:absolute;top:50%; left:-30%;transform:rotate(240deg)}
    .circle1>li:nth-of-type(6){position:absolute;top:0%; left:-15%;transform:rotate(300deg)}
    
    
    .badge{position:absolute;width:250px;border-radius:50%;transform:rotate(-50deg);top:50%;right:65%;}
    .badge>h1 span{height:150px;position:absolute;width:20px;right:0;top:0;transform-origin:bottom center;color:#c7d6db;font:18px 'gugi', cursive;}
    .badge>h1 span:nth-of-type(3n){color:#fff;}
    .badge>h1 span:nth-of-type(3n+1){color:lightpink;}
    
    .pop_up{overflow:hidden;width:100vw;height:100vh;position:fixed;top:0;left:0;background-color:rgba(0,0,0,0.5);display:none;}
    .pop_up >.pop{position:absolute;top:50%;left:50%;width:45vw;height:60vh;transform:translate(-50%,-50%);background-color:#c7d6db;border-radius:5%; display:none;overflow:hidden;flex-direction:column;justify-content:space-around;
        animation: pop 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
    .pop>.close{font-size:0.5vh;padding:1%;font-family:TheJamsil;background-color:#fff;font-weight:500;align-self:flex-end;margin:1% 2% -10%; }
    .pop>img{width:75%;height:50%;border-radius:4%;align-self:center;object-fit:cover;}
    .pop>h3{font-size:3vh;text-align:center;font-family:TheJamsil;margin:-5% 0;}
    .pop>p{font-size:1.7vh; font-family:TheJamsil;margin:0 15%;}
    .pop>.btnwrap{display:flex;flex-flow:row nowrap;justify-content:space-around;margin:0 5%;}
    .btnwrap>.btn{width:15vw;height:4vh;line-height:4vh;background-color:#fff;border-radius:10px;text-align:center;font-weight:600;font-size:1.2vh;font-family:TheJamsil;box-shadow:0px 10px 10px -8px rgba(0,0,0,0.5);}
    .btnwrap>.btn a{color:#333;}
    .btnwrap>.btn a:hover{color:#c7d6db;}
    .pop>.close:hover{cursor:pointer;color:#c7d6db;}
}
    


/* 중간 사이즈----------------------------------- */
@media screen and (min-width:800px) and (max-width:1280px){
    .head{width:60vw; height:100vh; padding:7% 0 0 10%;
    background:linear-gradient(to right,rgba(0,0,0,0.7),rgba(255,255,255,0.001));}
    .head>h2{text-align:center;padding:6% 0;}
    .head>.headbtn{position:relative;width:100%;}
    .headbtn>p{font-weight:400;line-height:2rem;font-size:1rem;margin:0 10%;color:#fff;}
    .headbtn>.lt{position:absolute;top:50%;left:2%;font-family: 'Gugi', cursive;float:left; font-size:1.5rem;background:rgba(0,0,0,0.2);color:#fff;;transition:all 0.2s; display:block;}
    .headbtn>.gt{position:absolute;top:50%;left:95%;}
    .headbtn>.lt:hover{border-radius:50%;background:rgba(255,255,255,0.7);
        color:#333;cursor:pointer;border-radius:50%;padding:1%;}
    
    
    .floor{width:550px; height:550px;margin:-20% 0 0 60%;position:relative;animation:rotate 40s linear infinite; transform-origin:50% 50%;}
    .floor>.circle1{position:relative;border-radius:50%;width:100%;height:100%;border:2px solid rgba(18, 31, 31, 0.1);}
    .cha_img{width:60%;}
    .circle1>li:nth-of-type(1){position:absolute;top:-15%; left:40%;transform:rotate(0deg)}
    .circle1>li:nth-of-type(2){position:absolute;top:15%; right:-20%;transform:rotate(60deg)}
    .circle1>li:nth-of-type(3){position:absolute;top:65%; right:-15%;transform:rotate(120deg)}
    .circle1>li:nth-of-type(4){position:absolute;bottom:-15%; right:40%;transform:rotate(180deg)}
    .circle1>li:nth-of-type(5){position:absolute;top:50%; left:-20%;transform:rotate(240deg)}
    .circle1>li:nth-of-type(6){position:absolute;top:5%; left:-15%;transform:rotate(300deg)}
    
    
    .badge{position:absolute;width:500px;border-radius:50%;transform:rotate(-50deg);top:65%;right:50%;}
    .badge>h1 span{height:150px;position:absolute;width:20px;right:0;top:0;transform-origin:bottom center;color:#c7d6db;font:18px 'gugi', cursive;}
    .badge>h1 span:nth-of-type(3n){color:#fff;}
    .badge>h1 span:nth-of-type(3n+1){color:#c7d6db;}
    
    .pop_up{overflow:hidden;width:100vw;height:100vh;position:fixed;top:0;left:0;background-color:rgba(0,0,0,0.5);display:none;}
    .pop_up >.pop{position:absolute;top:50%;left:50%;width:35%;height:60%;transform:translate(-50%,-50%);background-color:#c7d6db;border-radius:5%; display:none;overflow:hidden;flex-direction:column;justify-content:space-around;
        animation: pop 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
    .pop>.close{font-size:0.5vh;padding:1%;font-family:TheJamsil;background-color:#fff;font-weight:500;align-self:flex-end;margin:1% 3% -4%; }
    .pop>img{width:70%;height:50%;border-radius:4%;align-self:center;object-fit:cover;}
    .pop>h3{font-size:3vh;text-align:center;font-family:TheJamsil;margin:-5% 0;}
    .pop>p{font-size:1.7vh; font-family:TheJamsil;margin:0 15%;}
    .pop>.btnwrap{display:flex;flex-flow:row nowrap;justify-content:space-around;}
    .btnwrap>.btn{width:10vw;height:4vh;line-height:4vh;background-color:#fff;border-radius:10px;text-align:center;font-weight:600;font-size:1.2vh;font-family:TheJamsil;box-shadow:0px 10px 10px -8px rgba(0,0,0,0.5)}
    .btnwrap>.btn a{color:#333;}
    .btnwrap>.btn a:hover{color:#c7d6db;}
    .pop>.close:hover{cursor:pointer;color:#c7d6db;}
}



/* 메인 사이즈 ------------------------------------ */
    @media screen and (min-width:1281px){
        
    .head{width:43vw; height:100vh; padding:5% 0 0 8%;
    background:linear-gradient(to right,rgba(0,0,0,0.5),rgba(255,255,255,0.001));}
    .head>h2{text-align:center;padding:6% 0;}
    .head>.headbtn{position:relative;width:100%;}
    .headbtn>p{font-weight:400;line-height:2rem;font-size:1rem;margin:0 10%;color:#fff;}
    .headbtn>.lt{position:absolute;top:50%;left:2%;font-family: 'Gugi', cursive;float:left; font-size:1.5rem;background:rgba(0,0,0,0.2);color:#fff;;transition:all 0.2s; display:block;}
    .headbtn>.gt{position:absolute;top:50%;left:95%;}
    .headbtn>.lt:hover{border-radius:50%;background:rgba(255,255,255,0.7);
        color:#333;cursor:pointer;border-radius:50%;padding:1%;}


    .floor{width:700px; height:700px;margin:-20% 0 0 65%;position:relative;animation:rotate 30s linear infinite; transform-origin:50% 50%;}
    .floor>.circle1{position:relative;border-radius:50%;width:100%;height:100%;border:2px solid rgba(18, 31, 31, 0.1);}
    .cha_img{width:80%;}
    .circle1>li:nth-of-type(1){position:absolute;top:-15%; left:40%;transform:rotate(0deg)}
    .circle1>li:nth-of-type(2){position:absolute;top:15%; right:-15%;transform:rotate(60deg)}
    .circle1>li:nth-of-type(3){position:absolute;top:65%; right:-10%;transform:rotate(120deg)}
    .circle1>li:nth-of-type(4){position:absolute;bottom:-15%; left:35%;transform:rotate(180deg)}
    .circle1>li:nth-of-type(5){position:absolute;top:55%; left:-15%;transform:rotate(240deg)}
    .circle1>li:nth-of-type(6){position:absolute;top:10%; left:-10%;transform:rotate(300deg)}


    .badge{position:absolute;width:400px;border-radius:50%;transform:rotate(-50deg);top:50%;right:60%;}
    .badge>h1 span{height:200px;position:absolute;width:20px;right:0;top:0;transform-origin:bottom center;color:#c7d6db;font:18px 'gugi', cursive;}
    .badge>h1 span:nth-of-type(3n){color:#fff;}
    .badge>h1 span:nth-of-type(3n+1){color:lightpink;}


    .pop_up{overflow:hidden;width:100vw;height:100vh;position:fixed;top:0;left:0;background-color:rgba(0,0,0,0.5);display:none;}
    .pop_up >.pop{position:absolute;top:50%;left:50%;width:30%;height:70%;transform:translate(-50%,-50%);background-color:#c7d6db;border-radius:5%; display:none;overflow:hidden;flex-direction:column;justify-content:space-around;
    animation: pop 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
    .pop>.close{font-size:1vh;padding:1%;font-family:TheJamsil;background-color:#fff;font-weight:500;align-self:flex-end;margin:1% 3% -10%;}
    .pop>img{width:70%;height:50%;border-radius:4%;align-self:center;align-self:center;object-fit:cover;}
    .pop>h3{font-size:3vh;text-align:center;font-family:TheJamsil;margin:-3% 0;}
    .pop>p{font-size:1.7vh; font-family:TheJamsil;margin:0 13%;}
    .pop>.btnwrap{display:flex;flex-flow:row nowrap;justify-content:space-around;margin: 0 5%;}
    .btnwrap>.btn{width:9vw;height:4vh;line-height:4vh;background-color:#fff;border-radius:10px;text-align:center;font-weight:600;font-size:1.5vh;font-family:TheJamsil;box-shadow:0px 10px 10px -8px rgba(0,0,0,0.5)}
    .btnwrap>.btn a{color:#333;}
    .btnwrap>.btn a:hover{color:#c7d6db;}
    .pop>.close:hover{cursor:pointer;color:#c7d6db;}
    }









