@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
ul,
li,
ol {
    list-style: none;
    display: block;
    text-decoration: none;
    color: #fff;
}

html {
    font-size: 15px;
}